.card-data-preview-container {
  &:nth-child(1) > *{
    margin: 0rem 0rem;
  }
  & > * {
    margin: 1rem 0rem;
  }
  background-color: #ffffff;

  border-radius: 1rem;
  box-shadow: 10px 10px 10px gainsboro;
  overflow-y: scroll;
  padding: 1.6rem 1.4rem;
  .heading {
    font-weight: 800;
    font-size: 1.8rem;
  }
  .image-container {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  .author{
    font-weight: 800;
    font-size: 1.2rem;
    text-align: right;
  }
  .moral{
    font-weight: 800;
    font-size: 1.6rem;
    color: red;
    text-decoration: underline;
  }
}

.go-to-btn{
  color: inherit;
  transition: 0.1s ease-in all;
  &:hover{
    transform: scale(1.20);
  }
}

.hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
